/****************
***** GLOBAL *****
*****************/

body {
  margin: 0;
  font-family: arial;
}

/****************
***** SPECIFICS *****
*****************/

/* HEADER */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(img/detoxcuresmoothie.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  padding: 150px 50px;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0 10px;
}

h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
}

.logo {
  width: 60px;
}

/* MAIN */

#greenSmoothiePic {
  height: 250px;
  margin: 40px 40px;
}

h2 {
  font-size: 15px;
  text-align: center;
}

article {
  vertical-align: center;
}

/* FLEX BOX */

.topNav {
  display: flex;
  margin-top: 0px;
  padding: 0;
  justify-content: space-between;
}

section {
  display: flex;
}
