/***********
****INFO****
************

**COLORS**

rgb(124, 40, 99)
white
black

*/

/*************
**** FONTS ****
**************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap");

/*******************
*****CSS GLOBAL******
*******************/

body {
  font-family: "Montserrat", sans-serif;
}

img[scr*="@2x"] {
  width: 48px;
}

/***********************
*****GLOBAL CLASSES******
*************************/

.button {
  border: none;
  background-color: rgb(124, 40, 99);
  padding: 10px 15px;
  color: white !important;
  margin-top: 20px;
}

.button:hover {
  background-color: rgb(70, 13, 53);
}

.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
}

/**************
*****HEADER******
***************/

header {
  background-image: linear-gradient(
      230deg,
      rgba(124, 40, 99, 0.1),
      rgba(124, 40, 99, 0.5) 90%
    ),
    url(img/fitness.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 20px;
  background-repeat: no-repeat;
}

/* Navbar */

header nav a img {
  width: 50px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 30px;
}

/* TITLE */

header .title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

header .title h1 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 90px;
  margin: 0;
  line-height: 100%;
}

header .title p {
  font-size: 20px;
  font-weight: 700;
}

/**************
*****MAIN******
***************/

/* FIRST ARTICLE
--PROGRAMS--  */

/* TILES */
#programs {
  text-align: center;
  margin-bottom: 0;
}

#programs h2 {
  text-transform: uppercase;
}

#programsTiles {
  margin-top: -120px;
}

#programs ul {
  display: flex;
  margin-top: 0;
}

#programs ul li:first-child {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/fitnessman.jpg);
}

#programs ul li:nth-child(2) {
  background-image: linear-gradient(
      230deg,
      rgba(124, 40, 99, 0.1),
      rgba(124, 40, 99, 0.5) 20%
    ),
    url(img/fitnesswoman.jpg);
}

#programs ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 600px;
  color: white;
}

/* GOAL */

#goal {
  margin: 120px;
}

/* ICONS FLEX */

#iconsTiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  border-top: 1px solid rgba(102, 88, 88, 0.1);
}

#iconsTiles div {
  padding: 50px;
  width: 25%;
}

#iconsTiles div:not(div:nth-of-type(4)) {
  border-right: 1px solid rgba(102, 88, 88, 0.1);
}

/* SIGN UP */

#signup {
  background-image: linear-gradient(
      to right,
      rgba(124, 40, 99, 0.3) 55%,
      black 45% 55%
    ),
    url(img/crossfit.jpg);
  /* background-size: cover; */
  padding: 80px 0;
}

#signup div {
  display: flex;
  justify-content: flex-end;
}

#signup div article {
  color: white;
  width: 40%;
}

#signup div h2 {
  margin-left: -80px;
}

/* Black and white tiles */

#bwTiles {
  text-align: center;
  width: 100%;
  margin-top: 0;
}

#bwTiles ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

#bwTiles ul li {
  width: calc(100% / 3);
}

#bwTiles ul li:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

#bwTiles ul li article {
  padding: 60px;
}

/* MAP */

#map {
  line-height: 100%;
}

/* PURPLE LINE IN BETWEEN END OF MAIN AND FOOTER */

main #purpleLine {
  background-color: rgb(124, 40, 99);
  padding: 5px;
}

/**************
*****FOOTER******
***************/

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

footer section:not(#form) {
  width: 30%;
}

/* About */

footer section#about {
  text-align: right;
  padding: 30px;
}

footer section#about div {
  display: flex;
  justify-content: flex-end;
}

footer section#about i {
  padding: 5px;
}

footer section#about img {
  width: 70px;
}

footer section#about p {
  padding-left: 40%;
}

/* Form */

footer #form {
  width: 40%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 55px;
  margin-top: -130px;
  height: 100%;
}

footer #form div {
  margin-bottom: 50px;
}

footer #form div h3 {
  text-transform: uppercase;
  margin: 0;
}

footer #form div p {
  font-size: small;
}

footer #form form ul li {
  margin-bottom: 50px;
}

footer #form form ul li input {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

/* CONTACT */

#contact {
  padding: 20px;
}

footer #contact ul {
  color: white;
  display: flex;
  flex-direction: column;
}

footer #contact ul li {
  display: flex;
  justify-content: flex-start;
}

footer #contact ul li i {
  margin-top: 8px;
  color: rgb(124, 40, 99);
}

footer #contact ul li div {
  margin-left: 10px;
}

footer #contact ul li div h3 {
  margin-top: 0;
  text-transform: uppercase;
}

/* RESPONSIVE */

/* Tablet */

@media (min-width: 768px) and (max-width: 991) {
  /* PROGRAMS */
  #programsTiles {
    margin-top: 0;
  }
}
