/***********
****INFO****
************

**COLORS**

rgb(124, 40, 99)
white
black

*/

/*************
**** FONTS ****
**************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap");

/*******************
*****CSS GLOBAL******
*******************/

body {
  font-family: "Montserrat", sans-serif;
}

.button {
  border: none;
  background-color: rgb(124, 40, 99);
  padding: 10px 15px;
  color: white !important;
  margin-top: 20px;
}

.container {
  max-width: 1060px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

/**************
*****HEADER******
***************/

header {
  background-image: linear-gradient(
      230deg,
      rgba(124, 40, 99, 0.1),
      rgba(124, 40, 99, 0.5) 90%
    ),
    url(img/fitness.jpg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

/* Navbar */

header nav a img {
  width: 50px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 30px;
}

/* TITLE */

header .title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 280px;
}

header .title h1 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 90px;
  margin: 0;
  padding: 0;
}

header .title p {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

/**************
*****MAIN******
***************/

/* FIRST ARTICLE
--PROGRAMS--  */

/* TILES */
#programs {
  text-align: center;
  position: relative;
  top: -120px;
}

#programs h2 {
  text-transform: uppercase;
}

#programs ul {
  display: flex;
}

#programs ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 600px;
  color: white;
}

#programs ul li:first-child {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/fitnessman.jpg);
}

#programs ul li:nth-child(2) {
  background-image: linear-gradient(
      230deg,
      rgba(124, 40, 99, 0.1),
      rgba(124, 40, 99, 0.5) 20%
    ),
    url(img/fitnesswoman.jpg);
}

/* GOAL */

#goal {
  margin: 100px;
}

/* ICONS FLEX */

#iconsTiles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

#iconsTiles img {
  width: 50px;
}

/* SIGN UP */

#signup {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 55%, black 45%),
    linear-gradient(to right, rgba(124, 40, 99, 0.3) 50%, rgba(0, 0, 0, 0) 50%),
    url(img/crossfit.jpg);
  background-position: cover;
  margin-bottom: 0;
}

#signup div {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px;
  position: relative;
  left: 53%;
}

#signup div h2 {
  margin: 0;
  position: relative;
  left: -10%;
}

#signup div p {
  display: inline-block;
  width: 400px;
}
/* 
#signup div h2,
#signup div p {
  position: relative;
  left: 700px;
} */

/* Black and white tiles */

#bwTiles {
  text-align: center;
  width: 100%;
  margin-top: 0;
}

#bwTiles ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

#bwTiles ul li {
  width: 33%;
}

#bwTiles ul li:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

#bwTiles ul li article {
  padding: 60px;
}

#bwTiles ul li article img {
  width: 50px;
}

/**************
*****FOOTER******
***************/

footer {
  background-color: black;
  color: white;
}

/* About */

footer section#about img

/* Form */

footer section#form {
  width: 30%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 50px;
}

footer section#form h3 {
  text-transform: uppercase;
}

/*  */
