/*
brown rgb(79, 17, 34)
blue #6E8E9B

title:    font-family: 'Mandali', sans-serif;

    font-family: 'Raleway', sans-serif;

    max-width 1060px
    
 */

/*************
 ****GLOBAL****
 *************/

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1060px;
}

h1 {
  text-transform: uppercase;
  font-family: "Mandali", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
}

/*************
 ****HEADER****
 *************/

header {
  background-image: url(img/yogamat.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-left: 15px;
}

header nav ul li {
  display: inline-block;
  margin-left: 15px;
}

header nav a img {
  width: 50px;
}
