/******************
******COLORS*******
*******************
brown rgb(79, 17, 34)
blue #6E8E9B

*/

/*****************
****TYPOGRAPHY****
******************

font-family: 'Mandali', sans-serif;

font-family: 'Raleway', sans-serif;

*/

/*********************
 ***GLOBAL CLASSES****
 ********************/

.button {
  border: 0 solid white;
  color: black !important;
  background-color: white;
  border-radius: 50px;
  display: inline-block;
  padding: 5px 15px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.button:hover,
#contact div input[type="radio"]:checked + label {
  background-color: #6e8e9b;
  color: white !important;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  width: 90%;
  max-width: 1060px;
  margin: 50px auto;
}

h1,
h2 {
  font-family: "Mandali", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 5px;
  margin: 0;
  line-height: 100%;
}

h2 {
  color: #6e8e9b;
}

h3 {
  font-weight: 900;
}

h2::after {
  content: "";
  display: block;
  height: 50px;
  width: 3px;
  background-color: #6e8e9b;
  margin-top: 30px;
}

/*****************
 ****SPECIFICS****
 *****************/

/*************
 ****HEADER****
 *************/

header {
  background-image: url(img/yogamat.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  display: inline-block;
  margin-left: 15px;
}

header nav a img {
  width: 50px;
}

header .title {
  margin: 100px 0 120px;
}

/*************
 ****MAIN****
 *************/

/* FIRST SECTION */

#concept article {
  display: flex;
  align-items: center;
}

@media (min-width: 991px) {
  #concept article:nth-of-type(odd) {
    flex-direction: row-reverse;
  }
}

#concept article img {
  border-radius: 200px;
  padding: 20px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  align-self: center;
  max-width: 80px;
  margin-right: 30px;
  margin-left: 30px;
}

/* SECOND SECTION -- YOGA CLASSES */

#classes article {
  display: flex;
}

#classes article img {
  display: block;
  width: 200px;
  height: 200px;
  background-size: cover;
  margin-right: 50px;
  object-fit: cover;
  object-position: 80%;
  margin-bottom: 20px;
}

/* THIRD SECTION - FORM */

#contact form div:first-child {
  display: flex;
  align-items: center;
}

#contact form > div {
  margin-bottom: 30px;
}

#contact form div p {
  margin: 0;
}

form input {
  border: none;
}

#contact form {
  font-family: "Raleway", sans-serif;
}

form div input[type="radio"] {
  display: none;
}

form div input[type="radio"] + label {
  margin-left: 30px;
}

/* contact form input radio checked

.radio div input[type="radio"]:checked + label {
}

---> Voir style .btn:hover */

form div input[type="text"],
form div input[type="email"] {
  border-radius: 50px;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  width: 100%;
  max-width: 400px;
}

/* FOOTER */

footer {
  background-color: #6e8e9b;
  text-align: center;
  color: white;
  padding: 10px;
}

/*************
**RESPONSIVE**
**************/

/* Tablet */

@media (min-width: 768px) and (max-width: 990px) {
  #classes article {
    align-items: flex-start;
  }
}

/* Mobile */

@media (max-width: 767px) {
  h1 {
    font-size: 55px;
    text-align: center;
  }

  #concept article,
  #classes article {
    flex-direction: column;
    text-align: center;
  }

  #classes article img {
    margin-right: ;
  }
}
