/*
brown rgb(79, 17, 34)
blue #6E8E9B

title:    font-family: 'Mandali', sans-serif;

    font-family: 'Raleway', sans-serif;

    max-width 1060px
    
 */

/*************
 ****GLOBAL****
 *************/

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1060px;
}

h1 {
  text-transform: uppercase;
  font-family: "Mandali", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  margin: 0;
}

h2 {
  color: #6e8e9b;
}

.shadow {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.pipe::after {
  content: "";
  display: block;
  height: 50px;
  width: 0px;
  border: 1px solid #6e8e9b;
  margin-top: 30px;
}

/*****************
 ****SPECIFICS****
 *****************/

/*************
 ****HEADER****
 *************/

header {
  background-image: url(img/yogamat.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  margin: 20px;
  padding-bottom: 100px;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

header nav ul li {
  display: inline-block;
  margin-left: 15px;
}

header nav a img {
  width: 50px;
}

.button {
  border: solid white;
  color: black;
  background-color: white;
  border-radius: 20px;
  display: inline-block;
}

.button p {
  margin: 2px 8px;
}

/*************
 ****MAIN****
 *************/

/* FIRST SECTION */

main #concept {
  display: flex;
  flex-direction: column;
}

main #concept article:nth-of-type(1) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

main #concept article:nth-of-type(2) {
  display: flex;
}

main #concept article:nth-of-type(3) {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

#concept article img {
  border-radius: 200px;
  padding: 20px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  align-self: center;
  max-width: 80px;
  margin-right: 30px;
  margin-left: 30px;
}

/* SECOND SECTION -- YOGA CLASSES */

.classes article {
  display: flex;
}

.classes article img {
  width: 50%;
}
