/***********************************
************TYPOGRAPHY**************
************************************/

/* 

(Audrey I am more at ease with English so bear with me !)

#970134

Titles:
font-family: 'Anton', sans-serif;


Content:
font-family: 'Work Sans', sans-serif;

*/

/***********************************
*************************************
**********GLOBAL ELEMENTS************
*************************************
************************************/

.btn {
}

/***********************************
*************************************
**********GLOBAL CLASSES************
*************************************
************************************/

.container {
  width: 1060px;
  margin: 0 auto;
}

/************************************
*************************************
**************GLOBAL ****************
*************************************
************************************/

body {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Anton", sans-serif;
}

/************************************
*************************************
***********CSS SECTIONS**************
*************************************
************************************/

/***********************************
***************HEADER****************
************************************/

header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/cinema.jpg);
  color: white;
}

/*********** NAV BAR ***************/

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  margin-left: 15px;
  font-size: 15px;
  font-weight: 400;
}

/************ TITLE **************/

/**********************************
****************MAIN***************
***********************************/

/*********** SECTION ***************/

/*********** SECTION ***************/

/*********** SECTION ***************/

/**********************************
**************FOOTER***************
***********************************/

/*********** CONTACT ***************/

/*********** CREDITS ***************/
