/*********************  
* CSS GENERAL
**********************/

body {
  font-family: "Urbanist", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Bitter", serif;
  font-size: 50px;
  margin: 0;
}

/*********************  
* CSS GLOBAL
**********************/
.btn {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-top: 10px;
  transition: all 1s ease;
}

.btn:hover {
  background-color: chartreuse;
  border-radius: 40px;
}

/*********************  
* CSS PAR SECTION
**********************/

/**** header ****/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.527)),
    url("https://images.unsplash.com/photo-1596573052395-36c9b8192f13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80");
  text-align: center;
  color: white;
  padding: 150px 50px;
  background-size: cover;
  background-position: center;
}

/***** concept  *****/

#concept h2 {
  margin: 40px auto;
}

#concept {
  text-align: center;
}

#concept ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

#concept ul li {
  width: 25%;
}

#soybeans {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#soybeans img {
  width: 450px;
  margin-right: 50px;
}
